/* Page styles section */
html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
  }
  img {
    border-style: none;
  }
  a {
    background-color: transparent;
    text-decoration: none;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  *,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
    --color-primary: #C271FF;
    --color-black: #071629;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.4rem;
    --font-size-x-large: 2.4rem;
    --font-size-xl-large: 3.2rem;
    --font-size-xx-large: 4.8rem;
    --font-size-large: 1.8rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/* Header section styles */
.header-section {
  background-image: url("./assets/images/Object.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 68rem;
  padding: 2.5rem 9.4rem;
}
.menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation section styles */
.navmenu-item {
    color: var(--color-white);
    margin: 0 0 0 2rem;
    font-size: 12px;
    font-weight: 700;
}
.nav-bar {
    list-style: none;
    text-align: center;
    display: flex;
}
.header-text h1 {
    color: var(--color-white);
    font-size: 7.5rem;
    font-weight: 700;
}
.header-text {
    width: 60%;
    margin: 8.75rem auto;
}

/* Text section styles */
.text-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-section p {
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    margin-left: 1.5rem;
    font-size: var(--font-size-medium);
}
.center-button {
    width: 171px;
    margin: 24px auto;
}
.button-section {
    background-color: var(--color-primary);
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 0.2);
    color: var(--color-white);
    font-size: 14px;
}
.banner-text {
    margin-top: 2rem;
    text-align: center;
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: var(--font-weight-regular);
}
.banner-text span {
    color: var(--color-white);
}

/* Team section styles */
.team-section {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.team-name {
    color: var(--color-white);
    font-size: 1.13rem;
    text-align: center;
}
.team-member {
    width: 9.4rem;
}
.team-icon {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.team-text {
    color: var(--color-white);
    font-size: 1rem;
    text-align: center;
    font-style: italic;
}

/* Quotes section styles */
.quotes-section {
    display: flex;
    background-color: var(--color-primary);
    height: 392px;
    padding: 90px 150px;
}
.quotes-icon {
    padding-top: 20px;
}
.quote {
    color: var(--color-white);
    font-size: 1.4rem;
}

/* Authors section styles */
.author-text {
    margin-left: 40px;
    width: 70%;
}
.author-role {
    color: var(--color-white);
    font-size: 1.4rem;
    font-style: italic;
}
.author-name {
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: bold;
}

/* Tutorials style section */
.tutorials {
    padding: 3.75rem 9.4rem;
}
.tutorials h1 {
    text-align: center;
    color: var(--color-black);
    font-weight: 100;
    font-size: 2rem;
}
.tutorials h1 span {
    color: var(--color-primary);
    font-weight: bold;
}
.tutorials-vid {
    display: flex;
    margin-top: 3.75rem;
    justify-content: space-between;
}

/* Steps items styles section */
.step-one {
    position: relative;
    width: 16rem;
}
.play-icon {
    position: absolute;
    top: 10%;
    left: 40%;
}
.step-one p {
    color: var(--color-grey);
    font-size: 14px;
}
.step-two, .step-three {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.step-one h2 {
    color: var(--color-black);
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
}
.step-three {
    justify-content: space-between;
}
.step-three p {
color: var(--color-primary);
font-size: 14px;
}
.step-two h3 {
    color: var(--color-primary);
    font-size: 14px;
    margin-left: 16px;
}

/* Membership section styles */
.membership {
    background-color: var(--color-black);
    padding: 70px 150px;
    height: 31rem;
}
.membership h1{
    color: var(--color-primary);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.membership h1 span{
    color: var(--color-white);
    font-weight: 100;
}
.membership-section {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}
.member-text {
    width: 13.6rem;
}
.member-text p{
    color: var(--color-white);
    font-size: 14px;
    text-align: center;
}
.member-text img {
    margin: auto;
    display: block;
    width: 44px;
}
.member-text h2{
    color: var(--color-white);
    font-size: 18px;
    text-align: center;
}

/* FAQ section styles */
.faq-section {
    padding: 60px 170px;
}
.main-faq {
    display: block;
    width: 80%;
    margin: 3.75rem auto;
}
.faq-section h1 {
    color: var(--color-black);
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}
.faq-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-content {
    width: 22rem;
}
.faq-content p {
    color: var(--color-grey);
    font-size: 14px;
}
.faq-content h3 {
    color: var(--color-black);
    font-weight: bold;
    font-size: 16px;
}

/* Footer section styles */
.footer-section {
    height: 249px;
    margin-top: 3.75rem;
    padding: 0 13.2rem;
    background-color: var(--color-black);
  }
.footer-text p {
    text-align: center;
    font-size: var(--font-size-small);
    margin-top: 32px;
    color: var(--color-grey);
    font-weight: var(--font-weight-regular);
}
.footer-text {
    padding-top: 7.5rem;
    display: flex;
    justify-content: space-between;
}
.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
